In [20]:
import json
import ast
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile

In [21]:
data = pd.read_csv('./data/synthetic_data.csv').head(1000)

In [22]:
data = data[['TAXI_ID', 'POLYLINE']]

In [23]:
print('Total Path Trail Records used', len(data))

Total Path Trail Records used 1000

In [24]:
taxi_id = np.unique(data['TAXI_ID'])

In [25]:
print('Total People', len(taxi_id))

Total People 309

In [26]:
coordinates = {}
trips = np.array(data)
for i in range(len(trips)):
    point = trips[i]
    keys = list(coordinates.keys())
    if point[0] in keys:
        appended_coordinate = ast.literal_eval(point[1]) + coordinates[point[0]]
        coordinates[point[0]] = appended_coordinate
    else:
        coordinates[point[0]] = ast.literal_eval(point[1])

In [27]:
taxi_records = [[key, value, 0] for key, value in coordinates.items()]

In [28]:
coronavirus_cases_count = 5
coronavirus_cases = random.sample(range(1, len(taxi_records)), coronavirus_cases_count)
coronavirus_cases = [137, 22, 284, 178, 183] # comment the statement for random selection
random_records = [taxi_records[i][0] for i in coronavirus_cases]

In [29]:
random_records

[20000304, 20000009, 20000156, 20000455, 20000281]

In [30]:
from math import sin, cos, sqrt, atan2, radians
R = 6373.0

def calculate_distance(lat2, lon2, lat1, lon1):
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = (sin(dlat/2))**2 + cos(lat1) * cos(lat2) * (sin(dlon/2))**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    distance = R * c
    return(abs(distance))

In [31]:
threshold = 0.010

def check_if_contact(lat2, lon2, lat1, lon1):
    calculated_value = calculate_distance(lat1, lon1, lat2, lon2)
    if(calculated_value<=threshold):
        return True
    else:
        return False

In [32]:
lat1 = 52.2296756
lon1 = 21.0122287
lat2 = 52.2307756
lon2 = 21.0122287
check_if_contact(lat1, lon1, lat2, lon2)

False

In [33]:
distances = []
for i in taxi_records:
    person_travel_history = i[1]
    max_distance = 0
    for j in range(len(person_travel_history)-1):
        one = person_travel_history[j]
        two = person_travel_history[j+1]
        flag = calculate_distance(one[0], one[1], two[0], two[1])
        if(flag > max_distance):
            max_distance = flag
    distances.append(max_distance)
print('Max distance between any two coordinates', max(distances))

Max distance between any two coordinates 17.403047835066882

In [34]:
def calculate_total_encounters(history_one, history_two):
    count = 0
    for i in history_one:
        for j in history_two:
            if(check_if_contact(i[0], i[1], j[0], j[1])):
                count +=1 
    return count

In [35]:
chances = []
for i in taxi_records:
    chance = 0
    if i[0] not in random_records:
        person_travel_history = i[1]
        for coronavirus_case in coronavirus_cases:
            coronavirus_patient_travel_history = taxi_records[coronavirus_case][1]
            chance += calculate_total_encounters(person_travel_history, coronavirus_patient_travel_history)
    chances.append(chance)
    print(i[0], chance)

20000589 1
20000596 55
20000320 79
20000520 34
20000337 5
20000231 39
20000456 7
20000011 41
20000403 70
20000233 24
20000571 24
20000497 8
20000570 22
20000005 23
20000089 27
20000423 10
20000657 9
20000309 1
20000161 2
20000178 30
20000235 54
20000653 20
20000009 0
20000648 25
20000424 1
20000010 23
20000372 41
20000686 23
20000435 28
20000154 18
20000060 29
20000167 25
20000503 12
20000621 68
20000463 14
20000612 20
20000360 16
20000574 88
20000173 9
20000560 10
20000492 27
20000112 21
20000305 33
20000004 40
20000620 24
20000671 36
20000341 29
20000015 26
20000307 44
20000171 3
20000201 10
20000007 28
20000199 34
20000611 9
20000398 33
20000067 18
20000569 63
20000473 11
20000367 74
20000672 59
20000190 37
20000600 12
20000496 58
20000013 12
20000454 103
20000534 49
20000195 27
20000406 9
20000325 28
20000101 36
20000632 38
20000308 33
20000333 28
20000481 7
20000486 34
20000450 53
20000545 3
20000665 23
20000012 46
20000688 66
20000540 38
20000436 32
20000517 112
20000153 31
20000458 5
20000577 23
20000105 3
20000128 14
20000616 7
20000477 7
20000197 31
20000476 41
20000480 8
20000451 23
20000663 34
20000386 39
20000561 18
20000472 36
20000280 30
20000565 21
20000432 20
20000329 36
20000073 378
20000397 22
20000285 35
20000286 14
20000024 79
20000239 8
20000578 20
20000514 55
20000152 13
20000515 19
20000247 64
20000344 21
20000184 12
20000502 10
20000400 34
20000256 43
20000625 1
20000196 26
20000331 15
20000678 33
20000901 42
20000421 25
20000229 10
20000381 7
20000086 9
20000539 2
20000242 2
20000662 22
20000279 19
20000076 14
20000351 8
20000529 15
20000042 2
20000408 10
20000674 31
20000304 0
20000071 7
20000038 3
20000137 31
20000618 29
20000179 10
20000120 65
20000166 23
20000151 16
20000434 84
20000549 11
20000484 1
20000075 3
20000542 48
20000391 43
20000131 11
20000346 19
20000296 5
20000058 4
20000429 1
20000268 32
20000051 16
20000623 44
20000021 23
20000046 22
20000359 10
20000470 18
20000114 4
20000188 8
20000026 19
20000077 24
20000499 16
20000180 8
20000409 27
20000562 31
20000651 17
20000669 50
20000607 26
20000049 6
20000272 2
20000189 47
20000455 0
20000144 3
20000100 33
20000576 8
20000554 3
20000281 0
20000068 9
20000050 20
20000039 19
20000186 0
20000687 20
20000104 27
20000460 11
20000446 31
20000174 10
20000255 26
20000065 12
20000257 4
20000192 7
20000507 18
20000617 45
20000664 5
20000027 10
20000267 14
20000319 27
20000380 9
20000251 25
20000163 37
20000682 3
20000361 15
20000138 9
20000495 28
20000207 6
20000349 11
20000684 15
20000525 0
20000045 8
20000633 25
20000269 4
20000640 53
20000258 2
20000142 7
20000680 13
20000116 91
20000001 2
20000254 6
20000384 7
20000377 0
20000626 3
20000294 25
20000692 12
20000030 12
20000579 30
20000249 22
20000440 20
20000271 13
20000057 22
20000675 1
20000588 37
20000363 45
20000099 6
20000326 12
20000148 0
20000546 0
20000230 20
20000113 10
20000557 9
20000376 3
20000126 4
20000006 5
20000288 0
20000311 12
20000598 26
20000352 9
20000111 0
20000222 25
20000085 14
20000518 2
20000443 0
20000330 30
20000508 19
20000226 0
20000370 0
20000602 7
20000387 4
20000353 0
20000129 11
20000524 8
20000048 2
20000649 1
20000468 0
20000467 43
20000245 7
20000123 0
20000601 6
20000093 25
20000031 3
20000487 2
20000261 2
20000676 0
20000431 6
20000605 29
20000107 4
20000047 0
20000215 3
20000159 8
20000156 0
20000338 0
20000289 20
20000410 1
20000198 1
20000685 0
20000074 5
20000516 1
20000453 2
20000604 5
20000345 17
20000697 2
20000315 3
20000541 22
20000158 2
20000136 67
20000693 2
20000094 0
20000014 0
20000022 6
20000535 0
20000054 11
20000108 0
20000118 20
20000328 19

In [36]:
total_chance_record = []
for i in range(len(taxi_records)):
    taxi_record = taxi_records[i]
    record = [
        taxi_record[0], # taxi_id
        taxi_record[1], # path or trail
        chances[i] # total chances
    ]
    total_chance_record.append(record)

In [37]:
pd.DataFrame(total_chance_record)

            0                                                  1   2
0    20000589  [[-8.649639, 41.1541515], [-8.6502105, 41.1539...   1
1    20000596  [[-8.64405, 41.1588855], [-8.6440365, 41.15893...  55
2    20000320  [[-8.606529, 41.1479325], [-8.606403, 41.14800...  79
3    20000520  [[-8.642146499999999, 41.1650145], [-8.6421555...  34
4    20000337  [[-8.6603985, 41.15871], [-8.659701, 41.159758...   5
..        ...                                                ...  ..
304  20000535  [[-8.604045, 41.1612705], [-8.604675, 41.16172...   0
305  20000054  [[-8.606569499999999, 41.144742], [-8.6069385,...  11
306  20000108  [[-8.653203, 41.168565], [-8.653239, 41.168898...   0
307  20000118  [[-8.574754500000001, 41.142703499999996], [-8...  20
308  20000328  [[-8.585649, 41.148598500000006], [-8.5858065,...  19

[309 rows x 3 columns]

In [38]:
total_encounter = pd.DataFrame(total_chance_record)
total_encounter = total_encounter.sort_values(by=2, ascending=False)
total_encounter.to_csv('./data/synthetic_data_chances.csv', index = False)