In [80]:
import json
import ast
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile

In [81]:
type_of_data = '_synthetic_data'
data = pd.read_csv('./data/test' + type_of_data + '.csv').head(1000)

In [82]:
data = data[['TAXI_ID', 'POLYLINE']]

In [83]:
print('Total Path Trail Records used', len(data))

Total Path Trail Records used 1000

In [84]:
taxi_id = np.unique(data['TAXI_ID'])

In [85]:
print('Total People', len(taxi_id))

Total People 309

In [86]:
coordinates = {}
trips = np.array(data)
for i in range(len(trips)):
    point = trips[i]
    keys = list(coordinates.keys())
    if point[0] in keys:
        appended_coordinate = ast.literal_eval(point[1]) + coordinates[point[0]]
        coordinates[point[0]] = appended_coordinate
    else:
        coordinates[point[0]] = ast.literal_eval(point[1])

In [87]:
taxi_records = [[key, value, 0] for key, value in coordinates.items()]

In [88]:
coronavirus_cases_count = 5
coronavirus_cases = random.sample(range(1, len(taxi_records)), coronavirus_cases_count) 
random_records = [taxi_records[i][0] for i in coronavirus_cases]

In [89]:
random_records

[20000235, 20000653, 20000180, 20000161, 20000574]

In [90]:
from math import sin, cos, sqrt, atan2, radians
R = 6373.0

def calculate_distance(lat2, lon2, lat1, lon1):
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = (sin(dlat/2))**2 + cos(lat1) * cos(lat2) * (sin(dlon/2))**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    distance = R * c
    return(abs(distance))

In [91]:
threshold = 0.010

def check_if_contact(lat2, lon2, lat1, lon1):
    calculated_value = calculate_distance(lat1, lon1, lat2, lon2)
    if(calculated_value<=threshold):
        return True
    else:
        return False

In [92]:
lat1 = 52.2296756
lon1 = 21.0122287
lat2 = 52.2307756
lon2 = 21.0122287
check_if_contact(lat1, lon1, lat2, lon2)

False

In [93]:
distances = []
for i in taxi_records:
    person_travel_history = i[1]
    max_distance = 0
    for j in range(len(person_travel_history)-1):
        one = person_travel_history[j]
        two = person_travel_history[j+1]
        flag = calculate_distance(one[0], one[1], two[0], two[1])
        if(flag > max_distance):
            max_distance = flag
    distances.append(max_distance)
print('Max distance between any two coordinates', max(distances))

Max distance between any two coordinates 17.403047835066882

In [94]:
def calculate_total_encounters(history_one, history_two):
    count = 0
    for i in history_one:
        for j in history_two:
            if(check_if_contact(i[0], i[1], j[0], j[1])):
                count +=1 
    return count

In [95]:
chances = []
for i in taxi_records:
    chance = 0
    if i[0] not in random_records:
        person_travel_history = i[1]
        for coronavirus_case in coronavirus_cases:
            coronavirus_patient_travel_history = taxi_records[coronavirus_case][1]
            chance += calculate_total_encounters(person_travel_history, coronavirus_patient_travel_history)
    chances.append(chance)
    print(i[0], chance)

20000589 18
20000596 98
20000320 54
20000520 79
20000337 96
20000231 33
20000456 4
20000011 53
20000403 220
20000233 40
20000571 81
20000497 22
20000570 15
20000005 68
20000089 15
20000423 23
20000657 22
20000309 0
20000161 0
20000178 88
20000235 0
20000653 0
20000009 79
20000648 43
20000424 16
20000010 29
20000372 70
20000686 38
20000435 62
20000154 94
20000060 41
20000167 30
20000503 91
20000621 111
20000463 36
20000612 4
20000360 24
20000574 0
20000173 1
20000560 21
20000492 18
20000112 65
20000305 29
20000004 20
20000620 60
20000671 19
20000341 39
20000015 21
20000307 171
20000171 3
20000201 32
20000007 57
20000199 44
20000611 25
20000398 151
20000067 12
20000569 397
20000473 4
20000367 138
20000672 36
20000190 95
20000600 3
20000496 163
20000013 23
20000454 39
20000534 143
20000195 9
20000406 3
20000325 100
20000101 118
20000632 33
20000308 31
20000333 32
20000481 28
20000486 9
20000450 79
20000545 0
20000665 25
20000012 106
20000688 31
20000540 94
20000436 82
20000517 32
20000153 50
20000458 5
20000577 77
20000105 21
20000128 78
20000616 4
20000477 20
20000197 18
20000476 56
20000480 69
20000451 47
20000663 100
20000386 46
20000561 25
20000472 28
20000280 11
20000565 26
20000432 53
20000329 21
20000073 17
20000397 39
20000285 60
20000286 52
20000024 77
20000239 56
20000578 14
20000514 20
20000152 59
20000515 4
20000247 7
20000344 14
20000184 11
20000502 76
20000400 76
20000256 28
20000625 25
20000196 33
20000331 14
20000678 24
20000901 45
20000421 12
20000229 17
20000381 7
20000086 92
20000539 34
20000242 22
20000662 10
20000279 4
20000076 14
20000351 38
20000529 26
20000042 1
20000408 18
20000674 32
20000304 14
20000071 17
20000038 0
20000137 19
20000618 30
20000179 2
20000120 17
20000166 20
20000151 84
20000434 41
20000549 68
20000484 4
20000075 25
20000542 19
20000391 74
20000131 3
20000346 25
20000296 9
20000058 11
20000429 2
20000268 28
20000051 14
20000623 29
20000021 45
20000046 19
20000359 5
20000470 14
20000114 57
20000188 1
20000026 3
20000077 4
20000499 12
20000180 0
20000409 37
20000562 35
20000651 9
20000669 55
20000607 0
20000049 77
20000272 5
20000189 26
20000455 54
20000144 3
20000100 6
20000576 133
20000554 24
20000281 24
20000068 3
20000050 17
20000039 13
20000186 0
20000687 14
20000104 6
20000460 10
20000446 13
20000174 13
20000255 20
20000065 60
20000257 19
20000192 16
20000507 28
20000617 46
20000664 7
20000027 25
20000267 38
20000319 13
20000380 3
20000251 19
20000163 1
20000682 6
20000361 32
20000138 2
20000495 17
20000207 60
20000349 30
20000684 12
20000525 7
20000045 1
20000633 13
20000269 1
20000640 2
20000258 30
20000142 23
20000680 26
20000116 62
20000001 0
20000254 14
20000384 1
20000377 0
20000626 4
20000294 12
20000692 4
20000030 12
20000579 45
20000249 35
20000440 3
20000271 34
20000057 15
20000675 1
20000588 22
20000363 4
20000099 7
20000326 4
20000148 0
20000546 0
20000230 30
20000113 0
20000557 12
20000376 0
20000126 1
20000006 11
20000288 0
20000311 2
20000598 7
20000352 4
20000111 0
20000222 14
20000085 50
20000518 1
20000443 0
20000330 10
20000508 13
20000226 4
20000370 0
20000602 29
20000387 31
20000353 0
20000129 23
20000524 7
20000048 3
20000649 2
20000468 0
20000467 17
20000245 6
20000123 0
20000601 0
20000093 12
20000031 9
20000487 9
20000261 16
20000676 0
20000431 0
20000605 35
20000107 2
20000047 0
20000215 8
20000159 13
20000156 1
20000338 10
20000289 38
20000410 2
20000198 6
20000685 2
20000074 16
20000516 0
20000453 0
20000604 9
20000345 50
20000697 4
20000315 2
20000541 22
20000158 21
20000136 5
20000693 8
20000094 1
20000014 1
20000022 21
20000535 0
20000054 0
20000108 2
20000118 18
20000328 13

In [96]:
total_chance_record = []
for i in range(len(taxi_records)):
    taxi_record = taxi_records[i]
    record = [
        taxi_record[0], # taxi_id
        taxi_record[1], # path or trail
        chances[i] # total chances
    ]
    total_chance_record.append(record)

In [97]:
pd.DataFrame(total_chance_record)

            0                                                  1    2
0    20000589  [[-8.649639, 41.1541515], [-8.6502105, 41.1539...   18
1    20000596  [[-8.64405, 41.1588855], [-8.6440365, 41.15893...   98
2    20000320  [[-8.606529, 41.1479325], [-8.606403, 41.14800...   54
3    20000520  [[-8.642146499999999, 41.1650145], [-8.6421555...   79
4    20000337  [[-8.6603985, 41.15871], [-8.659701, 41.159758...   96
5    20000231  [[-8.647038, 41.175985499999996], [-8.648088, ...   33
6    20000456  [[-8.580231000000001, 41.1454935], [-8.5818240...    4
7    20000011  [[-8.6307165, 41.154606], [-8.631414, 41.15389...   53
8    20000403  [[-8.606529, 41.144643], [-8.606952, 41.144985...  220
9    20000233  [[-8.61984, 41.148036], [-8.61984, 41.148027],...   40
10   20000571  [[-8.5871655, 41.146524], [-8.5873455, 41.1466...   81
11   20000497  [[-8.6501385, 41.159259], [-8.650602, 41.16020...   22
12   20000570  [[-8.613288, 41.1543675], [-8.613283500000001,...   15
13   20000005  [[-8.6231475, 41.1582285], [-8.623089, 41.1582...   68
14   20000089  [[-8.619858, 41.148036000000005], [-8.6199165,...   15
15   20000423  [[-8.6352705, 41.1495885], [-8.6345595, 41.150...   23
16   20000657  [[-8.682741, 41.160564], [-8.682894000000001, ...   22
17   20000309  [[-8.604026999999999, 41.1612345], [-8.603892,...    0
18   20000161  [[-8.639892, 41.159754], [-8.640189, 41.159812...    0
19   20000178  [[-8.654773500000001, 41.173506], [-8.6549265,...   88
20   20000235  [[-8.585658, 41.14854], [-8.5856535, 41.148549...    0
21   20000653  [[-8.6307615, 41.154439499999995], [-8.6307795...    0
22   20000009  [[-8.585658, 41.1486525], [-8.5857165, 41.1488...   79
23   20000648  [[-8.619893999999999, 41.147892], [-8.6200335,...   43
24   20000424  [[-8.6398695, 41.1597855], [-8.640108, 41.1597...   16
25   20000010  [[-8.601894, 41.181786], [-8.601831, 41.182011...   29
26   20000372  [[-8.6497785, 41.1542865], [-8.650224, 41.1540...   70
27   20000686  [[-8.6101155, 41.146317], [-8.6100975, 41.1463...   38
28   20000435  [[-8.611650000000001, 41.149062], [-8.61161849...   62
29   20000154  [[-8.645166, 41.16618], [-8.645476500000001, 4...   94
..        ...                                                ...  ...
279  20000605  [[-8.598068999999999, 41.162166], [-8.5981725,...   35
280  20000107  [[-8.574741, 41.142838499999996], [-8.5747185,...    2
281  20000047  [[-8.6573475, 41.1703245], [-8.657145, 41.1705...    0
282  20000215  [[-8.610804, 41.145705], [-8.610709499999999, ...    8
283  20000159  [[-8.610732, 41.145714], [-8.610736500000002, ...   13
284  20000156  [[-8.582498999999999, 41.180516999999995], [-8...    1
285  20000338  [[-8.647488, 41.15097], [-8.6474565, 41.150979...   10
286  20000289  [[-8.645886, 41.165639999999996], [-8.645139, ...   38
287  20000410  [[-8.649594, 41.167255499999996], [-8.6496435,...    2
288  20000198  [[-8.566267499999999, 41.153598], [-8.56624499...    6
289  20000685  [[-8.653482, 41.1582825], [-8.653509, 41.15828...    2
290  20000074  [[-8.6400765, 41.159641500000006], [-8.6405129...   16
291  20000516  [[-8.614390499999999, 41.1420915], [-8.6143995...    0
292  20000453  [[-8.592372, 41.157333], [-8.5923765, 41.15732...    0
293  20000604  [[-8.609409, 41.1513795], [-8.6093685, 41.1515...    9
294  20000345  [[-8.585657999999999, 41.148612], [-8.585829, ...   50
295  20000697  [[-8.606349000000002, 41.153661], [-8.60751000...    4
296  20000315  [[-8.606547, 41.144652], [-8.6065515, 41.14463...    2
297  20000541  [[-8.5856715, 41.148594], [-8.5857615, 41.1487...   22
298  20000158  [[-8.56953, 41.166126], [-8.5684905, 41.166242...   21
299  20000136  [[-8.628768, 41.1610185], [-8.628741000000002,...    5
300  20000693  [[-8.6602995, 41.150061], [-8.660295, 41.15007...    8
301  20000094  [[-8.6528115, 41.1561045], [-8.652816000000001...    1
302  20000014  [[-8.582319, 41.181534], [-8.5814775, 41.18241...    1
303  20000022  [[-8.589393000000001, 41.163259499999995], [-8...   21
304  20000535  [[-8.604045, 41.1612705], [-8.604675, 41.16172...    0
305  20000054  [[-8.606569499999999, 41.144742], [-8.6069385,...    0
306  20000108  [[-8.653203, 41.168565], [-8.653239, 41.168898...    2
307  20000118  [[-8.574754500000001, 41.142703499999996], [-8...   18
308  20000328  [[-8.585649, 41.148598500000006], [-8.5858065,...   13

[309 rows x 3 columns]

In [98]:
total_encounter = pd.DataFrame(total_chance_record)
total_encounter = total_encounter.sort_values(by=2, ascending=False)
total_encounter.to_csv('./data/chances' + type_of_data + '.csv')

In [99]:
space_compatible = []
for i in taxi_records:
    taxi_id = i[0]
    trail = i[1]
    chance = total_encounter[2][list(total_encounter[0]).index(taxi_id)]
    for j in trail:
        space_compatible.append([j[0], j[1], chance])

In [100]:
pd.DataFrame(space_compatible).to_csv('./data/space_plotting' + type_of_data + '.csv', index=False)